<html xmlns:th="http:/www.thyemelaf.org">

    <div class="left-part">
        <div class="left-title form-inline">
            <div class="form-group">
                <label><input type="checkbox" /> 1.单选题</label>
            </div>
            <div class="form-group right">
                <button class="btn btn-link btn-sm">
                    <span></span> 编辑
                </button>

                <button class="btn btn-link btn-sm">
                    <span></span> 删除
                </button>
            </div>

        </div>

        <div class="left-subject">
            java的数据类型有几种
        </div>

        <ul class="left-options">
            <li>
                <span class="left-option active">A</span>
                <span class="left-option-text">2种</span>
            </li>

            <li>
                <span class="left-option">B</span>
                <span class="left-option-text">4种</span>
            </li>

            <li>
                <span class="left-option">C</span>
                <span class="left-option-text">6种</span>
            </li>

            <li>
                <span class="left-option">D</span>
                <span class="left-option-text">8种</span>
            </li>
        </ul>
    </div>

    <div class="left-part">
        <div class="left-title form-inline">
            <div class="form-group">
                <label><input type="checkbox" /> 1.多选题</label>
            </div>
            <div class="form-group right">
                <button class="btn btn-link btn-sm">
                    <span></span> 编辑
                </button>

                <button class="btn btn-link btn-sm">
                    <span></span> 删除
                </button>
            </div>

        </div>

        <div class="left-subject">
            java的数据类型有几种
        </div>

        <ul class="left-options">
            <li>
                <span class="left-option active">A</span>
                <span class="left-option-text">2种</span>
            </li>

            <li>
                <span class="left-option">B</span>
                <span class="left-option-text">4种</span>
            </li>

            <li>
                <span class="left-option">C</span>
                <span class="left-option-text">6种</span>
            </li>

            <li>
                <span class="left-option">D</span>
                <span class="left-option-text">8种</span>
            </li>
        </ul>
    </div>

    <div class="left-part">
        <div class="left-title">
            <label><input type="checkbox" /> 2.判断题</label>
        </div>

        <div class="left-subject">
            java的数据类型有2种
        </div>

        <ul class="left-options">
            <li>
                <span class="left-option active">√正确</span>
            </li>

            <li>
                <span class="left-option">×错误</span>
            </li>
        </ul>
    </div>

    <div class="left-part">
        <div class="left-title">
            <label><input type="checkbox" /> 3.填空题</label>
        </div>

        <div class="left-subject">
            java的基本数据类型有【】种，其中整形有【】种
        </div>

        <ul class="left-options">
            <li>
                <span class="left-option active">填空1</span>
                <span class="left-option-text">8</span>
            </li>

            <li>
                <span class="left-option active">填空2</span>
                <span class="left-option-text">4</span>
            </li>
        </ul>
    </div>

    <div class="left-part">
        <div class="left-title">
            <label><input type="checkbox" /> 4.综合题</label>
        </div>

        <div class="left-subject">
            请简述java的数据类型
        </div>

        <ul class="left-options">
            <li>
                <span class="left-option active">答案解析</span>
                <span class="left-option-text">数据类型分2种，基本类型8中，引用类型...</span>
            </li>
        </ul>
    </div>
</html>