<html xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-md-4">
            <div class="form-inline">

                <input class="form-control" id="adjust-search-className" />

                <button class="btn">
                    <span></span> 查询
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table id="unbindGrid" class="table">
                <thead>
                    <tr>
                        <th width="15%">序号</th>
                        <th width="50%">班级名称</th>
                        <th width="35%">学生名称</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table id="bindGrid" class="table">
                <thead>
                <tr>
                    <th width="15%">序号</th>
                    <th width="50%">班级名称</th>
                    <th width="35%">学生名称</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

</html>